<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.3.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--指定-->
	<context:component-scan base-package="com.**.dao,com.**.service"></context:component-scan>
    <!--指定注解驱动-->
    <context:annotation-config></context:annotation-config>
    <!--util定义配置文件读取器-->
    <util:properties id="reader" location="classpath:jdbc.properties"/>

    <!-- 定义数据源bean来源于c3p0连接池 -->
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="#{reader[driver]}"></property>
        <property name="jdbcUrl" value="#{reader[url]}"></property>
        <property name="user" value="#{reader[username]}"></property>
        <property name="password" value="#{reader[password]}"></property>
        <property name="initialPoolSize" value="3"></property>
        <property name="maxPoolSize" value="8"></property>
        <property name="minPoolSize" value="3"></property>
    </bean>
    <!--指定Mybatis自动扫描dao接口的基础包名-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.**.dao"></property>
    </bean>

    <!-- 定义sqlessionFactory  Bean -->
    <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 配置数据源 -->
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!-- 定义事务管理器Bean -->
    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--定义注解管理器-->
   <tx:annotation-driven></tx:annotation-driven>



</beans>