<component name="ArtifactManager">
  <artifact type="war" name="springMvc1:war">
    <output-path>$PROJECT_DIR$/../springMvc1/target</output-path>
    <root id="archive" name="springMvc1.war">
      <element id="artifact" artifact-name="springMvc1:war exploded" />
    </root>
  </artifact>
</component>